aldryn-client==2.3.5
attrs==18.2.0
beautifulsoup4==4.6.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
divio-cli==3.5.0
Django==2.2.6
django-modelcluster==4.4
django-taggit==0.24.0
django-treebeard==4.3
djangorestframework==3.10.3
draftjs-exporter==2.1.7
html5lib==1.0.1
idna==2.7
Pillow==6.2.0
pyaml==18.11.0
pytz==2019.3
PyYAML==3.13
requests==2.20.1
six==1.12.0
sqlparse==0.3.0
tabulate==0.8.3
Unidecode==1.1.1
urllib3==1.24.1
wagtail==2.6.2
webencodings==0.5.1
Willow==1.1
